Repository efstathiosntonas/expo-changelog-viewer: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, types

prettier:
  run: ./node_modules/.bin/prettier --write {staged_files}

eslint:
  interactive: true
  run: ./node_modules/.bin/eslint {staged_files} --concurrency=auto

types:
  run: tsc --noEmit

chore: enable auto-staging for Prettier fixes in lefthook
  lefthook.yml
Due: none

feat: comprehensive bug fixes and performance improvements
  .yarn/install-state.gz
  package.json
  src/App.tsx
  src/components/ErrorBoundary.tsx
  src/components/MainContent/ChangelogList.tsx
  src/components/MainContent/VersionWithDependencies.tsx
  src/contexts/ChangelogContext.tsx
  src/hooks/useChangelogCache.ts
  src/hooks/useIndexedDB.ts
  src/hooks/useLocalStorage.ts
  src/main.tsx
  src/utils/dependencyTreeBuilder.ts
  src/utils/errorHandler.ts
  src/utils/retryWithBackoff.ts
  yarn.lock
Due: prettier, eslint, types

fix: mobile nav bar is now blurred instead of transparent
  src/components/Sidebar/MobileNav.tsx
Due: prettier, eslint, types

chore: update meta tags and sitemap for improved SEO and user engagement
  index.html
  public/sitemap.xml
Due: prettier

feat: improve accessibility with ARIA enhancements and focus management
  src/App.tsx
  src/components/MainContent/ActionHeader.tsx
  src/components/MainContent/CacheStatusBanner.tsx
  src/components/MainContent/ChangelogItem.tsx
  src/components/MainContent/ChangelogList.tsx
  src/components/MainContent/ErrorDisplay.tsx
  src/components/MainContent/LoadingState.tsx
  src/components/MainContent/MainContent.tsx
  src/components/MainContent/VersionWithDependencies.tsx
  src/components/Sidebar/CategorySelect.tsx
  src/components/Sidebar/ConfigPanel.tsx
  src/components/Sidebar/MobileNav.tsx
  src/components/Sidebar/ModuleList.tsx
  src/components/Sidebar/ModuleSearch.tsx
  src/components/Sidebar/ModuleSelectionActions.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/help-icon.tsx
  src/index.css
Due: prettier, eslint, types

feat: added ARIA on SidebarHeader.tsx
  src/components/Sidebar/SidebarHeader.tsx
Due: prettier, eslint, types

feat: add custom hooks for keyboard shortcuts and document title
  src/hooks/useDocumentTitle.ts
  src/hooks/useKeyboardShortcuts.ts
Due: prettier, eslint, types

docs: update README
  README.md
Due: prettier

feat: add URL state sync and persistence to ChangelogProvider
  src/components/Sidebar/SidebarHeader.tsx
  src/contexts/ChangelogContext.tsx
  src/hooks/useURLSync.ts
Due: prettier, eslint, types

chore: updated packages
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier

chore: added fetch fresh button on loading indicator component
  src/components/MainContent/LoadingState.tsx
Due: prettier, eslint, types

feat: format dates in Markdown for better readability
  src/components/MainContent/VersionWithDependencies.tsx
Due: prettier, eslint, types

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,css,md,html}
  eslint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{ts,tsx}
