Repository efstathiosntonas/expo-changelog-viewer: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, types

prettier:
  run: ./node_modules/.bin/prettier --write {staged_files}

eslint:
  interactive: true
  run: ./node_modules/.bin/eslint {staged_files} --concurrency=auto

types:
  run: tsc --noEmit

feat: add date-based filtering and mobile improvements
  src/components/MainContent/ActionHeader.tsx
  src/components/MainContent/ChangelogItem.tsx
  src/components/MainContent/ChangelogList.tsx
  src/components/Sidebar/CategoryFilter.tsx
  src/components/Sidebar/ConfigPanel.tsx
  src/contexts/ChangelogContext.context.tsx
  src/contexts/ChangelogContext.tsx
  src/hooks/useIndexedDB.ts
  src/hooks/useSDKBranches.ts
  src/utils/changelogFilter.ts
  src/utils/dateFilter.ts
Due: prettier, eslint, types

chore: prettified
  src/components/Sidebar/ConfigPanel.tsx
Due: prettier, eslint, types

chore: improved styles and scroll behavior
  src/components/Sidebar/MobileNav.tsx
  src/components/Sidebar/ModuleList.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/SidebarContent.tsx
Due: prettier, eslint, types

chore: expose host on `yarn dev`
  package.json
Due: prettier

fix: improve hide unchanged logic to filter versions instead of modules
  src/components/MainContent/ChangelogItem.tsx
  src/utils/changelogFilter.ts
Due: prettier, eslint, types

fix: update checkbox label to 'Hide unchanged versions'
  src/components/Sidebar/ConfigPanel.tsx
Due: prettier, eslint, types

feat: add package.json import for auto-selecting Expo modules
  src/components/Sidebar/ConfigPanel.tsx
  src/utils/packageJsonParser.ts
Due: prettier, eslint, types

chore: refine styles for Sidebar components and badge variants
  src/components/Sidebar/CategoryFilter.tsx
  src/components/Sidebar/ModuleSearch.tsx
  src/components/Sidebar/SidebarHeader.tsx
  src/components/ui/badge.variants.ts
Due: prettier, eslint, types

fix: improve age label logic and update badge text for clarity
  src/components/MainContent/ChangelogItem.tsx
Due: prettier, eslint, types

chore: remove unused favicon svg link from index.html
  index.html
Due: prettier

fix: enhance hide unchanged functionality with better sorting logic
  src/components/MainContent/ChangelogList.tsx
Due: prettier, eslint, types

refactor: simplify useSDKBranches by removing GitHub API & caching logic
  src/hooks/useSDKBranches.ts
Due: prettier, eslint, types

feat: add comprehensive tooltips and improve UX
  .yarn/install-state.gz
  package.json
  src/components/Sidebar/CategoryFilter.tsx
  src/components/Sidebar/ConfigPanel.tsx
  src/components/ui/tooltip.tsx
  yarn.lock
Due: prettier, eslint, types

chore: prettified
  src/components/Sidebar/CategoryFilter.tsx
  src/components/Sidebar/ConfigPanel.tsx
Due: prettier, eslint, types

chore: added favicon
  index.html
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/site.webmanifest
Due: prettier

chore: add missing self-closing slashes to link tags in index.html
  index.html
Due: prettier

chore: improve tooltip styles and readability in ConfigPanel
  src/components/Sidebar/ConfigPanel.tsx
Due: prettier, eslint, types

chore: split modules list from the filters column
  src/components/MainContent/MainContent.tsx
  src/components/Sidebar/CategorySelect.tsx
  src/components/Sidebar/ModuleList.tsx
  src/components/Sidebar/ModuleSelectionActions.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/SidebarContent.tsx
Due: prettier, eslint, types

feat: format ISO dates in markdown to human readable
  src/components/MainContent/ChangelogItem.tsx
  src/components/Sidebar/CategorySelect.tsx
  src/components/Sidebar/ModuleList.tsx
  src/components/Sidebar/SidebarContent.tsx
  src/utils/dateFormatter.ts
Due: prettier, eslint, types

chore: add eslint-plugin-typescript-sort-keys & enforce property sorting
  .yarn/install-state.gz
  eslint.config.mjs
  package.json
  src/components/MainContent/ActionHeader.tsx
  src/components/MainContent/CacheStatusBanner.tsx
  src/components/MainContent/ChangelogItem.tsx
  src/components/MainContent/ChangelogList.tsx
  src/components/MainContent/LoadingState.tsx
  src/components/MainContent/MainContent.tsx
  src/components/Sidebar/CategoryFilter.tsx
  src/components/Sidebar/ConfigPanel.tsx
  src/components/Sidebar/MobileNav.tsx
  src/components/Sidebar/ModuleSearch.tsx
  src/components/Sidebar/ModuleSelectionActions.tsx
  src/components/Sidebar/SidebarHeader.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/progress.tsx
  src/components/ui/select.tsx
  src/components/ui/sheet.tsx
  src/components/ui/tooltip.tsx
  src/contexts/ChangelogContext.context.tsx
  src/contexts/MobileNavContext.tsx
  src/hooks/useChangelogCache.ts
  src/hooks/useIndexedDB.ts
  src/hooks/useSDKBranches.ts
  src/utils/changelogFilter.ts
  src/utils/dateFilter.ts
  src/utils/moduleList.ts
  src/utils/packageJsonParser.ts
  yarn.lock
Due: prettier, eslint, types

refactor: replace `React.xxx` with actual imports
  src/components/ui/alert-dialog.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/progress.tsx
  src/components/ui/select.tsx
  src/components/ui/sheet.tsx
Due: prettier, eslint, types

chore: introduce Prettier import sorting plugin and update imports
  .prettierrc
  .yarn/install-state.gz
  package.json
  src/App.tsx
  src/components/MainContent/ActionHeader.tsx
  src/components/MainContent/CacheStatusBanner.tsx
  src/components/MainContent/ChangelogItem.tsx
  src/components/MainContent/ChangelogList.tsx
  src/components/MainContent/LoadingState.tsx
  src/components/MainContent/MainContent.tsx
  src/components/Sidebar/CategoryFilter.tsx
  src/components/Sidebar/CategorySelect.tsx
  src/components/Sidebar/ConfigPanel.tsx
  src/components/Sidebar/MobileNav.tsx
  src/components/Sidebar/ModuleList.tsx
  src/components/Sidebar/ModuleSelectionActions.tsx
  src/components/Sidebar/SidebarContent.tsx
  src/components/Sidebar/SidebarHeader.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/progress.tsx
  src/components/ui/select.tsx
  src/components/ui/sheet.tsx
  src/components/ui/tooltip.tsx
  src/contexts/ChangelogContext.context.tsx
  src/contexts/ChangelogContext.tsx
  src/contexts/MobileNavContext.tsx
  src/hooks/useChangelogCache.ts
  src/hooks/useChangelogContext.ts
  src/hooks/useLocalStorage.ts
  src/hooks/useTheme.ts
  src/lib/utils.ts
  src/main.tsx
  yarn.lock
Due: prettier, eslint, types

chore: use Popover on mobile nav, Tooltip on desktop nav
  .yarn/install-state.gz
  package.json
  src/components/Sidebar/ConfigPanel.tsx
  src/components/ui/help-icon.tsx
  src/components/ui/popover.tsx
  yarn.lock
Due: prettier, eslint, types

chore: use Popover on mobile nav, Tooltip on desktop nav
  src/components/Sidebar/CategorySelect.tsx
  src/components/Sidebar/ConfigPanel.tsx
  src/components/Sidebar/ModuleSelectionActions.tsx
  src/components/ui/help-icon.tsx
Due: prettier, eslint, types

refactor: move setModuleLastViewed to avoid infinite re-renders
  src/components/MainContent/ChangelogItem.tsx
  src/components/MainContent/MainContent.tsx
Due: prettier, eslint, types

chore: prettified
  src/components/Sidebar/CategorySelect.tsx
Due: prettier, eslint, types

chore: updated README.md
  README.md
Due: prettier

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

chore: update base path in Vite config
  vite.config.ts
Due: prettier, eslint, types

chore: update demo link in README.md
  README.md
Due: prettier

feat: add dependency tree analysis and enhanced loading UX
  .yarn/install-state.gz
  README.md
  package.json
  src/components/MainContent/ActionHeader.tsx
  src/components/MainContent/ChangelogItem.tsx
  src/components/MainContent/LoadingState.tsx
  src/components/MainContent/MainContent.tsx
  src/components/MainContent/VersionWithDependencies.tsx
  src/components/ui/button.tsx
  src/contexts/ChangelogContext.context.tsx
  src/contexts/ChangelogContext.tsx
  src/hooks/useChangelogCache.ts
  src/hooks/useIndexedDB.ts
  src/index.css
  src/utils/changelogEnricher.ts
  src/utils/changelogFilter.ts
  src/utils/dependencyTreeBuilder.ts
  src/utils/moduleList.ts
  src/utils/npmDependencyComparer.ts
  yarn.lock
Due: prettier, eslint, types

feat: implement incremental module loading and improved UX
  src/components/MainContent/ChangelogList.tsx
  src/components/Sidebar/ConfigPanel.tsx
  src/components/Sidebar/SidebarContent.tsx
  src/contexts/ChangelogContext.context.tsx
  src/contexts/ChangelogContext.tsx
Due: prettier, eslint, types

chore: reorder SDK versions to prioritize latest version
  src/utils/moduleList.ts
Due: prettier, eslint, types

chore: prettified
  src/contexts/ChangelogContext.context.tsx
Due: prettier, eslint, types

feat: add comprehensive SEO optimization
  index.html
  public/robots.txt
  public/sitemap.xml
Due: prettier

chore: prettified
  index.html
Due: prettier

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,css,md,html}
  eslint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{ts,tsx}
